<div class="jumbotron text-center">
  <h1>律师简介</h1>
  <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;张律师生于上海，长于上海，在北京中国青年政治学院获得法学士学位后曾在广州华美达酒店任财务总监助理，后只身来美求学。她于1996年在芝加哥洛约拉大学以荣誉生的身份获得工商管理硕士学位（主修金融和财务）后曾在美国的各类企业中任职会计师及金融分析师。她的工作经验包括在美最大的电信公司 (AT&T)任高级金融分析师及在一家新上市的美国电信公司任财务经理。她丰富的财务工作经验帮助她熟习美国企业的内部运作和财务系统。</p>
  <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;因渴望进一步的挑战，张律师于2003年在加州大学伯克利分校法学院获得法学博士学位并开始了她的律师生涯。张律师曾工作于两家颇有规模的美国律师事务所并在其间积累了丰富的诉讼法经验。她处理的案件包括集体诉讼，证券诉讼，反竞争法诉讼，和各类消费者诉讼。张律师在公司法和税法（包括遗产法）方面也颇有心得，曾成功地帮助不少华裔创业者选择最佳公司结构，完成注册，并进一步为这些公司提供法律和财务咨询。她也曾为具有不同财务状况的华裔移民和非移民以信托的方式设计合理的财产构架，以达到保护财产，避免不必要的法律程序和法律纠纷的目的。</p>
  <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;张律师有加州律师执照并有在美国联邦法院及联邦第九巡回上诉法院的执业资格。她也是加州的注册会计师。她是美国加州律师协会，旧金山律师协会及加州注册会计师协会的成员。张律师具有流利的中英文读写能力并通晓国，粤语及上海话。</p>
  <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;张律师利用业余时间积极回馈社区。她是Orinda市财务咨询委员会的成员，负责为Orinda市的财务预算和运作提出合理化建议。她也是湾区华人律师协会的执行委员会委员。</p>
</div>