<div>
  <div class="home-container">
    <%= image_tag("picture11.jpg", class: "background-image", alt: "") %>
  </div>
  <div class="jumbotron text-center body-container">
    <!-- <h1>成功案例</h1> -->
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;在为一个创业公司提供法律咨询时，张律师发现客户自己选择的公司构架不是最理想的结构，因为这种结构税率较高。张律师将客户可选择的公司构架为客户作了介绍和比较，并建议客户在创业初期选择税率较低的结构以便为公司存储资金。客户可在公司营运稳定后转换构架。</p>
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;一位华裔非移民希望在美国购买房产以供他的孩子在美就学之用。张律师向客户指出如他希望将房产留给他的孩子，他需要考虑美国的遗产税和礼物税可能对非移民的资产造成的影响。张律师帮助客户设计了一个合理的构架，以起到最大限度地保护他的资产的目的。</p>
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;在和一位小型企业主的交流中，张律师无意中发现该企业主不熟悉可以合法扣税的业务费用，以致于在不知不觉中多交了不少税。张律师帮助这位企业主逐一找出了可扣税的费用并帮她向国税局递交了修改过去两年税表的申请，为该客户追回了一大笔税款。</p>
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;张律师作为律师团队的主要成员之一，曾多次在集体诉讼案中获胜，成功地为投资者追回他们损失的财产，为消费者争取他们应得的利益。</p>
  </div>
</div>