<div>
  <div class="transbox text-center block">
    <p align="left">析疑，解惑，避免误区，保障您的法律权益，务请联系我们。</p>
    <p align="left"><i class="fa fa-phone-square"></i>电话：510-710-2610</p>
    <p align="left"><i class="fa fa-envelope"></i>电邮：<a href="mailto:bzlawyerandcpa@yahoo.com?Subject=咨询" target="_top">bzlawyerandcpa@yahoo.com</a></p>
    <p align="left"><i class="fa fa-map-marker"></i>地址：16 Southwood Drive, Orinda, CA 94563</p>
  </div>

</div>