<div>
  <div class="home-container">
    <%= image_tag("picture7.jpg", class: "background-image", alt: "") %>
    <%= image_tag("bing_zhang.jpg", class: "round-and-shadow profile-photo", alt: "") %>
  </div>

  <div class="jumbotron text-center body-container">
    
  <!--   <div>
      <a href="https://www.linkedin.com/profile/view?id=36858627" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp; &nbsp; &nbsp; 
      <a href="https://www.linkedin.com/profile/view?id=36858627" target="_blank"><i class="fa fa-facebook-square"></i></a>&nbsp; &nbsp; &nbsp; 
      <a href="mailto:bzlawyerandcpa@yahoo.com?Subject=咨询" target="_top"><i class="fa fa-envelope"></i></a>
    </div> -->
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;近年来，不少华裔移民或非移民来到美国创业或投资。他们不约而同地发现，一个可以信赖的律师和会计师的帮助可以使他们如虎添翼，更轻松地倒达成功的彼岸。张律师是全美数量极少的<strong>集律师和注册会计师为一身</strong>的专业人才， 在多种法律及会计领域拥有多年的执业经验。张律师独特的跨行业经验使她能将法律和会计知识融会贯通，以便更好地为客户服务。不少客户在选择了张律师后有一种事半功倍的感觉因为他们再也不用浪费时间来回奔波在他们的律师和会计师之间了。</p>
    <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;作为一个华裔创业者，二十多年前，张律师只身来美，深知其中的酸甜苦辣。现在她愿意以她丰富的专业知识和经验为新一代的华裔创业者保驾护航。她诚挚地希望成为华裔创业者的好伙伴，为他们事业的腾飞助一臂之力。她真心地祝愿所有携着梦想来美国的华裔创业者美梦成真，一帆风顺。</p>
  </div>
</div>