
<% if current_user %>
  <h1 class="text-center">Admin: Manage Articles</h1>
  <%= link_to 'New Post', new_post_path, :class => "btn btn-primary right" %>
<% else %>
<h1 class="text-center">信息资源</h1>
<% end %>

<ul>
<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <div><%= post.body %><div>
  <div class="right"><%= link_to '[查看所有]', post %></div>
  <br/>
<% end %>
</ul>

<br />


