<h1>管理员界面</h1>
<%= link_to 'New Post', new_post_path, :class => "btn btn-primary"%>

<ul>
<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <div><%= post.body %><div>
<% end %>
</ul>

<br />


