<!DOCTYPE html>
<html>
<head>
  <!-- Allow Chinese Character -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <meta name="description" content="张冰，美国知名律师，毕业于加州伯克利大学法律专业。精通法律和财会，擅长企业法，个人及企业财产规划。">
  <meta name="keywords" content="lawyer, zhang bing, U.S, law, consultant, tax, 律师，会计，张冰，美国, 中国，咨询">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <title>张冰</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">张冰律师</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home"><i class="fa fa-home"></i> 首页</a></li>
        <li><a href="/about"><i class="fa fa-shield"></i> 律师简介</a></li>
        <li><a href="/serve"><i class="fa fa-briefcase"></i> 服务领域</a></li>
        <li><a href="/case"><i class="fa fa-trophy"></i> 成功案例</a></li>
        <li><a href="/source"><i class="fa fa-star"></i> 信息资源</a></li>
        <li><a href="/contact"><i class="fa fa-comment"></i> 联系我们</a></li>
      </ul>
    </div>
  </nav>
</head>
<body>
<div  class="container">
<%= yield %>
</div>
</body>
</html>
